<div class="add-question-container">
    <h2>Add new question</h2>

    <form (submit)="addQuestion()">
        <label for="question">Task:</label>
        <textarea id="question" name="question" [(ngModel)]="questionText" placeholder="Task..." rows="4" required></textarea>
        <input type="file" (change)="onFileSelected($event)">

        <label for="subject">Subject:</label>
        <select id="subject" name="subject" [(ngModel)]="selectedSubject" (change)="updateSections()" required>
            <option *ngFor="let subject of subjects" [value]="subject.name">{{ subject.name }}</option>
        </select>

        <label for="section">Section:</label>
        <select id="section" name="section" [(ngModel)]="selectedSection" required>
            <option *ngFor="let section of sections" [value]="section.name">{{ section.name }}</option>
        </select>

        <button type="submit">Add question</button>
    </form>
</div>
