<h2>Registration</h2>
<form (submit)="register()">
  <label>Username:</label>
  <input type="text" [(ngModel)]="username" name="username" required />

  <label>Email:</label>
  <input type="email" [(ngModel)]="email" name="email" required />

  <label>Password:</label>
  <input type="password" [(ngModel)]="password" name="password" (ngModelChange)="CheckPassword()"  [ngClass]="passwordClass" required />
  <p *ngIf="passwordError" class="error-message">{{ passwordError }}</p>

  <label>Check password:</label>
  <input type="password" [(ngModel)]="password_check" name="password_check" (ngModelChange)="CheckPasswordMatch()" [ngClass]="passwordCheckClass" required />
  <p *ngIf="passwordCheckError" class="error-message">{{ passwordCheckError }}</p>

  <button [disabled]="RegButtonCheck" type="submit">Register</button>
</form>

<p>Already have na account? <a routerLink="/login">Log in</a></p>