<div class="task-container">
  <button (click)="goBack()">Back</button>
  
  <!-- ? return undefined if null/undefined (noramlly error) -->
  <h2 class="task-title">Task: {{ task?.description }}</h2>
  <img *ngIf="task?.images[0]" [src]="'http://localhost:8080/'+task?.images[0]" alt="Question image">
  <span class="answer-author">Added by: {{ task?.creator_username }}</span>
  
  <button *ngIf="canEditOrDeleteTask()" (click)="deleteTask()">Delete question</button>

  <div class="answers-section">
      <h3>Answers:</h3>
      <div *ngIf="solutions.length > 0; else noAnswers">
          <div *ngFor="let answer of solutions" class="answer-card">
              <div *ngIf="editingAnswerId === answer.id; else viewAnswer">
                  <textarea [(ngModel)]="editedAnswerText"></textarea>
                  <button (click)="saveEditedAnswer(answer.id)">Save</button>
                  <button (click)="cancelEditing()">Cancel</button>
              </div>
              <ng-template #viewAnswer>
                  <p>{{ answer.solution }}</p>
                    <img *ngIf="answer.images[0]" [src]="'http://localhost:8080/'+answer.images[0]" 
                    alt="Solution image" class="solution-image" (click)="openModal(answer.images[0])">

                    <div class="modal" *ngIf="showModal" (click)="closeModal()">
                    <img [src]="'http://localhost:8080/'+selectedImage" class="modal-content">
                    </div>

                  <span class="answer-author">Added by: {{ answer.creator_username }}</span>
                  
                  <button *ngIf="canEditOrDeleteSolution(answer.creator_username)" (click)="startEditing(answer)">Edit</button>
                  <button *ngIf="canEditOrDeleteSolution(answer.creator_username)" (click)="deleteAnswer(answer.id)">Delete</button>
              </ng-template>
          </div>
      </div>

      <ng-template #noAnswers>
          <p class="no-answers">No answers yet! Be the first one to help!</p>
      </ng-template>
  </div>

  <div class="add-answer">
      <h3>Add your answer</h3>
      <textarea [(ngModel)]="newAnswerText" placeholder="Wpisz swoją odpowiedź..." rows="3"></textarea>
      <input type="file" (change)="onFileSelected($event)">
      <button (click)="addAnswer()">Add</button>
  </div>
</div>
