<div class="task-container">
  <button (click)="goBack()">Back</button>
  <h2 class="task-title">Pytanie: {{ task?.description }}</h2>
  
  <!-- Opcja edycji/usunięcia pytania -->
  <button *ngIf="canEditOrDeleteTask()" (click)="deleteTask()">Usuń pytanie</button>

  <div class="answers-section">
      <h3>Odpowiedzi:</h3>
      <div *ngIf="solutions.length > 0; else noAnswers">
          <div *ngFor="let answer of solutions" class="answer-card">
              <!-- Edytowanie odpowiedzi -->
              <div *ngIf="editingAnswerId === answer.id; else viewAnswer">
                  <textarea [(ngModel)]="editedAnswerText"></textarea>
                  <button (click)="saveEditedAnswer(answer.id)">Zapisz</button>
                  <button (click)="cancelEditing()">Anuluj</button>
              </div>
              <ng-template #viewAnswer>
                  <p>{{ answer.solution }}</p>
                  <span class="answer-author">Dodane przez: {{ answer.creator_username }}</span>
                  
                  <!-- Opcje edycji/usunięcia odpowiedzi -->
                  <button *ngIf="canEditOrDeleteSolution(answer.creator_username)" (click)="startEditing(answer)">Edytuj</button>
                  <button *ngIf="canEditOrDeleteSolution(answer.creator_username)" (click)="deleteAnswer(answer.id)">Usuń</button>
              </ng-template>
          </div>
      </div>

      <ng-template #noAnswers>
          <p class="no-answers">Brak odpowiedzi. Bądź pierwszą osobą, która odpowie!</p>
      </ng-template>
  </div>

  <div class="add-answer">
      <h3>Dodaj swoją odpowiedź</h3>
      <textarea [(ngModel)]="newAnswerText" placeholder="Wpisz swoją odpowiedź..." rows="3"></textarea>
      <button (click)="addAnswer()">Dodaj</button>
  </div>
</div>
