<div class="container">
    <button class="back-button" (click)="goBack()">← Back</button>
    <h2 class="title">Task for section: {{ section }}</h2>

    <div *ngIf="TaskList.length > 0; else noQuestions">
        <div
        *ngFor="let question of TaskList"
        class="question-card"
        (click)="goToTask(question.id)">
        <h3 class="question-title">{{ question.description }}</h3>
        </div>
    </div>

    <ng-template #noQuestions>
        <p class="no-questions">There are no tasks.</p>
    </ng-template>
</div>